extends layout.pug

include utils.pug

append head 
    link(rel="stylesheet" href="/stylesheets/gameshelves-edit.css")
    script(src="/javascripts/gameshelves-edit.js" type= "module")

block content
    div(id= "gameshelves-edit-container")
        div(id= "gameshelves-title") Game Shelves
        div(id= "shelf-container")
            each shelf in gameshelves
                div(id= "shelf")= shelf.title
            each customShelf in customShelves
                div(id= "custom-shelf")= customShelf.title
                    form(action= "/gameshelves/edit" method= "put" class= "rename-form" id= `form-${customShelf.id}`)
                        div(id= "rename-container")
                            input(type="hidden" name= "new-name" id= `rename-input-${customShelf.id}` value= `${newName}`)
                            button(type= "hidden" class= "save-btn" id= `save-${customShelf.id}` name= "shelf-id") Save
                    div(id= "rename-btn")
                        button(type= "hidden" class= "rename-btn" id= `rename-${customShelf.id}` name= "rename-shelf-id") Rename
                    div(id= "delete-btn")
                        button(class= "delete-btn" id= `delete-${customShelf.id}`) X
                    

                    //- form(action= "/gameshelves/edit" method= "put" class= "rename-form")
                    //-     div(id= "rename-container")
                    //-         input(name= "new-name" id= "rename-input" value= `${newName}`)
                    //-         button(type= "submit" class= "save-btn" id= `save-${customShelf.id}` name= "shelf-id") Save
                    //- div(id= "rename-btn")
                    //-     button(type= "submit" class= "rename-btn" id= `rename-${customShelf.id}` name= "rename-shelf-id") Rename
                    //- div(id= "delete-btn")
                    //-     button(class= "delete-btn" id= `delete-${customShelf.id}`) X
                           
