extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/gameshelves.css")

block content
    div(id= "gameshelves-container")
        div(class="gameshelves-list")
            h3 My Game Shelves
            div(class="form" id="form-container")
                if errors
                    div(id="errors-container")
                        ul
                            each error in errors
                                li= error               
            form(id="newshelf-form" action='/gameshelves/create-shelf' method="post")
                label(for="title" id="create-new-shelf-label") Create New Shelf:
                div(id="create-new-shelf-container")
                    input(type="text" id="title" name="title" value=title)
                    button(type='submit' class='login-button') Create          
            ul
                a(href='/gameshelves') All Games
                    each shelf in shelves
                        li
                        a(href=`/gameshelves/${shelf.id}`)= shelf.title
        div(class="games-container")
            each shelf in shelvesGames
                div()= shelf.title
                each game in shelf.Games
                    //div(id="gameshelves-game-container")
                        //- div(id="title-description")
                    div(id="game")
                        div(id="game-img")
                            img(id="image-id" src=game.image_url)
                        div(id="game-name")= game.name
                            //- h3=`${game.name}`
                            
                //- div(id="description")
                //-     div(class="games-container" id="game-description")
                //-             h3 Description:
                //-             h5= `Developer: ${game.developer}`
                //-             h5= `Release Date: ${game.year_released}`
                //-             h5= `Genre: ${game.Genre.type}`
