extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/gameshelves-all.css")

block content
    div(id= "gameshelves-container")
        div(class="gameshelves-list")
            h3 My Game Shelves
                div(id="edit-shelves") 
                    a(href='/gameshelves/edit') (Edit)
                
            form(id="newshelf-form" action='/gameshelves/create-shelf' method="post")
                if errors
                    div(id="errors-container")
                        each error in errors
                            li= error               
                label(for="title" id="create-new-shelf-label") Create New Shelf:
                div(id="create-new-shelf-container")
                    input(type="text" id="title" name="title" value=title)
                    button(type='submit' class='login-button') Create          
            ul
                a(href='/gameshelves') All Games
                    each shelf in shelves
                        li
                        a(href=`/gameshelves/${shelf.id}`)= shelf.title
        div(class="all-games-container")
            each shelf in shelves
                div(id= "shelf-title-container")
                    div(id= "shelf-title")= shelf.title
                    each game in shelf.Games
                        //div(id="gameshelves-game-container")
                            //- div(id="title-description")
                        div(id="all-games")
                            //- div(id="all-game-name")= game.name
                            div(id="all-gameshelf-game-img")
                                img(id="all-image-id" src=game.image_url)
                            div(id="all-game-description-container") Game Info
                            div(id="all-game-description")
                                div() Developer:
                                    div(id="all-game-description-developers")= game.developer 
                                div() Platforms:
                                    div(id="all-game-description-platforms")= game.platforms
                                div() Year-released:
                                    div(id="all-game-description-released")= game.year_released
                                div() Genre:
                                    div(id="all-game-description-released")= game.Genre.type
                            div(id="all-game-options") Add to a bookshelf
                            div(id="all-game-options-container")
                                div(id="all-game-options-bookshelf")
                                    form(action="/gameshelves" method="post" id="all-games-forms")
                                        input(type="hidden" name="gameId" value= game.id) 
                                        label(for='gameshelf')
                                        select(id='all-select-options' name='gameshelf' required)
                                          option(value= '')= ''
                                          each shelf in shelves
                                             option(value=shelf.id)= shelf.title
                                        button(type='submit' id='add-gameshelf-button') Add