//- extends layout.pug

//- append head
//-   link(rel="stylesheet" href="/stylesheets/games-list.css")


//- block content
//-     div(id= "gameshelves-container")
//-         div(class="gameshelves-list")
//-             h3 Games in Gameshelf
//-             li Gameshelf Games
//-             ul
//-                 each game in gameshelf.Games
//-                     li
//-                         img(src=`${game.image_url}`)
//-                         p= game.name
        //- div(class="games-container")
        //-     h3 Games
        //-     div(class="games-container")
        //-         each game in games
        //-             div(class="game")
        //-                 div(class="gameImg")
        //-                 a(href=`/games/${game.id}`)
        //-                     img(src=`${game.image_url}` width="150" height="200")
        //-                 div(class="title")
        //-                 p= game.name
extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/gameshelves.css")
    link(rel="stylesheet" href="/stylesheets/index.css")

block content
    div(id= "gameshelves-container")
        div(class="gameshelves-list")
            h3 My Game Shelves
                div(id="edit-shelves") 
                    a(href='/gameshelves/edit') (Edit)
                if errors
                    div(id="errors-container")
                        each error in errors
                            li= error               
            form(id="newshelf-form" action='/gameshelves/create-shelf' method="post")
                label(for="title" id="create-new-shelf-label") Create New Shelf:
                div(id="create-new-shelf-container")
                    input(type="text" id="title" name="title" value=title)
                    button(type='submit' class='login-button') Create          
            ul
                a(href='/gameshelves') All Games
                    each shelf in shelves
                        li
                        a(href=`/gameshelves/${shelf.id}`)= shelf.title
        div(class="games-container")
            each game in gameshelf.Games
              div(class="game")
                div(class="gameImg")
                  a(href=`/games/${game.id}`)
                    img(src=`${game.image_url}` width="150" height="200")
                div(class="title")
                  p= game.name            
                //- div(id="game")
                //-     div(id="game-name")= game.name
                //-     div(id="game-img")
                //-         img(id="image-id" src=game.image_url)
                //-             //- h5= `Genre: ${game.Genre.type}`
