extends layout.pug 

append head 
   script(src="/javascripts/updatingGameshelf.js", type="module")


block content 
   div(id= "game-container")
      div(id= "game-title")= game.name
      div(id= "game-score-container")
         div(id= "score-container")
            div(id="game-score-circle")
            div(id="game-score")= score
      div(id= "description-container")
         div(id= "game-img")
            img(src= src=game.image_url)
            div(id="gameshelf-dropdown-container")
               if userId
                  div(id="gameshelf-dropdown")
                     form(class="select-form")
                        input(type="hidden" value=game.id name="gameId")
                        select(class="select-options" name="gameshelf")
                           option(value= "")= "Add to Shelf"
                           each shelf in gameshelves
                              option(value=shelf.id)= shelf.title 
               else
                  div(id="gameshelf-dropdown")
                     form(class="select-form")
                        input(type="hidden" value=game.id name="gameId")
                        select(class="select-options" name="gameshelf")
                           option(value= "")= " "
                           option() Want To Play
                           option() Currently Playing
                           option() Played
         div(id="game-details-container")
            div(id= "genre-title") Genre:
               div(id= "genre")= game.Genre.type
            div(id= "year-released-title") Release Year:
               div(id= "year-released")= game.year_released
            div(id= "developer-title") Developer:
               div(id= "developer")= game.developer
            div(id= "platforms-title") Platform(s):
               div(id= "platforms")= game.platforms
         div(id="description-text")
            div(id= "description-title") Description:
               div(id= "description")= game.description
      div(id= "pros-cons-container") 
         h3 PROS
         div(id= "pros")
            each pro in prosArray
               div(id= "pros-content")= pro
         h3 CONS
         div(id="cons") 
            each con in consArray
               div(id="cons-content")= con
      div(id= "reviews")
         div(id= "reviews-title") Reviews
         if (locals.authenticated && hasReview)
            div(id= "my-review-container")
               div(id= "game-review")
                  div(id= "my-review")
                     div(id= "my-review-title") My Review
                     div(id= "edit-button-container")
                        button(id= "edit-button") 
                           a(href= `/games/${game.id}/review/edit` id= "edit-button-link") Edit
                  div(id= "review-title-container")
                     div(id= "review-score")= userReview.score
                     div(id= "review-title")= userReview.User.username + ": " + "\"" + userReview.title + "\"" 
                  div(id= "pros-and-cons")
                     div(id= "pro-title") Pro:  
                        div(id= "pro-description")= userReview.Pro.content
                     div(id= "con-title") Con:  
                        div(id= "con-description")= userReview.Con.content
                  div(id= "review-description-container")
                     div(id= "review-description")= userReview.description   
         else
            if (locals.authenticated)
               button(id= "review-game") 
                  a(id= "review-game-link" href= `/games/${game.id}/review`) Review this game!
            else
               button(id= "log-in-to-review" ) 
                  a(id= "log-in-to-review-link" href= "/users/login") Log in to review!
         each review in reviews
            div(id= "game-review")
               div(id= "review-title-container")
                  div(id= "review-score")= review.score
                  div(id= "review-title")= review.User.username + ": " + "\"" + review.title + "\"" 
               div(id= "pros-and-cons")
                  div(id= "pro-title") Pro:  
                     div(id= "pro-description")= review.Pro.content
                  div(id= "con-title") Con:  
                     div(id= "con-description")= review.Con.content
               div(id= "review-description-container")
                  div(id= "review-description")= review.description
      div(id="scroll-top-game")
         a(href= "#top") Top
  
