extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)


block content
  div(class="homepage_container")
    div(class="genre_title")
      h2
        a(href="/games-list/1") FPS
    div(class="scroll")
      ul(class="menu")
        each game in fps
          div(class="game")
            div(class="gameImg")
              a(href=`/games/${game.id}`)
                img(src=`${game.image_url}` width="150" height="200")
            div(class="title")
              p= game.name     

    div(class="genre_title")
      h2
        a(href="/games-list/2") Action
    div(class="scroll")
      ul(class="menu")
        each game in action
          div(class="game")
            div(class="gameImg")
              a(href=`/games/${game.id}`)
                img(src=`${game.image_url}` width="150" height="200")
            div(class="title")
              p= game.name

    div(class="genre_title")
      h2 
        a(href="/games-list/3") Action
    div(class="scroll")
      ul(class="menu")
        each game in sports
          div(class="game")
            div(class="gameImg")
              a(href=`/games/${game.id}`)
                img(src=`${game.image_url}` width="150" height="200")
            div(class="title")
              p= game.name

    div(class="genre_title")
      h2 
        a(href="/games-list/4") RPG
    div(class="scroll")
      ul(class="menu")
        each game in rpg
          div(class="game")
            div(class="gameImg")
              a(href=`/games/${game.id}`)
                img(src=`${game.image_url}` width="150" height="200")
            div(class="title")
              p= game.name