doctype html
html
  head
      block head
        title= "ggPlays"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/game.css')
        link(rel='stylesheet' href='/stylesheets/review.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel="stylesheet" href="https://use.typekit.net/yhv1vwm.css")
        script(src="/javascripts/index.js" type="module" defer)

  body
    div(id='navbar-container' class='navbar')
      div(id='logo')
        a(href='/' id='logo-name') ggPlays
      div(id='button-container')
        span(class='navbar-button')
        if locals.authenticated
          //- span(class='navbar-text px-4') Welcome #{user.username}!
          div(class= 'dropdown')
            a(id='profile' class='navbar-link' href='/users/profile') Profile
            div(id='dropdown-content' class= 'dropdown-content')
              form(class= 'dropdown-item' action='/users/logout' method='post')
                button(id='logout' type='submit') 
                  a() Logout
              div(class= 'dropdown-item') 
                a(href='/gameshelves') Gameshelves
        else
          span(class='navbar-button')
            a(class='navbar-link' href='/users/login') Login
            span(class='slash')  / 
            a(class='navbar-link' href='/users/sign-up') Register
        //- div(id='dropdown-content' class= 'dropdown-content')
        //-   form(class='form-inline pr-4' action='/users/logout' method='post')
        //-     button(id='logout' type='submit') Logout
        //-   a(class= 'dropdown-item' href='/') Link 1
    block content

      //-     a( href='/users/profile') Profile
      //- button(class="demo_login") 
      //-   a(href='/') Demo Login
      //- if locals.authenticated
      //-   span(class='navbar-text px-4') Welcome #{user.username}!
      //-   form(class='form-inline pr-4' action='/users/logout' method='post')
      //-     button(class='btn btn-sm btn-warning' type='submit') Logout
      //- else
      //-   span(class='navbar-text px-4')
      //-     a(class='btn btn-sm btn-dark mr-2' href='/users/login') Login
      //-     a(class='btn btn-sm btn-dark' href='/users/sign-up') Register
    block footer
      div(id= 'footer')
        div(id= 'contributors')
          div(id= 'contributor-1')
            a(href='https://github.com/pixzzels')
              center
                img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
            p= 'Ellen Park'
          div(id= 'contributor-2')
            a(href='https://github.com/Hieu-Ma')
              center
                img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
            p= 'Hieu Ma'
          div(id= 'contributor-3')
            a(href='https://github.com/trnle')
              center
                img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
            p= 'Tran Le'
          div(id= 'contributor-4')
            a(href='https://github.com/vmeduri1')
              center
                img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
            p= 'Vishaal Meduri'