doctype html
html
  head
      block head
        title= "ggPlays"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/navbar.css')
        link(rel='stylesheet' href='/stylesheets/game.css')
        link(rel='stylesheet' href='/stylesheets/review.css')
        link(rel='stylesheet' href='/stylesheets/footer.css')
        link(rel="stylesheet" href="https://use.typekit.net/yhv1vwm.css")
        script(src="/javascripts/index.js" type="module" defer)

  body
    div(id='navbar-container' class='navbar')
      div(id='logo')
        a(href='/' id='logo-name') ggPlays
      div(id='button-container')
        span(class='navbar-button')
        if locals.authenticated
          div(class= 'dropdown')
            a(id='profile' class='navbar-link' href='/users/profile') Profile
            div(id='dropdown-content' class= 'dropdown-content')
              button(id='dropdown-games-list' class= 'dropdown-item') 
                a(href='/games-list/0') Games
              button(id='dropdown-gameshelf' class= 'dropdown-item') 
                a(href='/gameshelves') Gameshelves
              form(id='dropdown-logout' class= 'dropdown-item' action='/users/logout' method='post' ) 
                button(id='logout' type='submit') 
                  a() Logout
        else
          span(class='navbar-button')
            a(class='navbar-link' href='/users/login') Login
            span(class='slash')  / 
            a(class='navbar-link' href='/users/sign-up') Register
    block content
    block footer
      div(id= 'contributors')
        div(id= 'contributor-1')
          div(id= 'contrib')
            a(href='https://github.com/pixzzels')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Ellen Park'
        div(id= 'contributor-2')
          div(id= 'contrib')
            a(href='https://github.com/Hieu-Ma')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Hieu Ma'
        div(id= 'contributor-3')
          div(id= 'contrib')
            a(href='https://github.com/trnle')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Tran Le'
        div(id= 'contributor-4')
          div(id= 'contrib')
            a(href='https://github.com/vmeduri1')
              img(src="https://img.icons8.com/material-sharp/40/ffffff/github.png")
          p= 'Vishaal Meduri'