extends layout.pug

append head
   link(rel="stylesheet" href="/stylesheets/profile.css")


block content
   div(id="profile-container")
      div(id="profile-info")
         h3= `${user.username}'s Profile`
         p= `Member Since: ${user.createdAt}`
      //- div(id="gameshelves-container")
      //-    ul(class="menu")
      //-       each shelf in gameshelves
      //-          div(class="game")
      //-             div(class="title")
      //-             h3= `${shelf.title}`
   h3= 'Game Shelves:'
      h4= 'More...'
   each shelf in gameshelves
      button(href=`/gameshelves/${shelf.id}` type="button")= `${shelf.title}`
