extends layout.pug

append head
   link(rel="stylesheet" href="/stylesheets/profile.css")


block content
   div(id="profile-container")
      div(id="profile-info")
         h3= `${user.username}'s Profile`
         p= `Member Since: ${user.createdAt}`
   div(id="gameshelves-container")
      h3 Game Shelves:
      h4 
         a(href="/gameshelves")= "More..."
      div(id="buttons")
         each shelf in gameshelves
            form(action=`/gameshelves/`)
               input(type="submit" id="button" value=`${shelf.title}`)
            //- button(href=`/gameshelves/${shelf.id}` id="button" type="button")= `${shelf.title}`
   div(id="reviews-and-container")
      h2 Reviews
      each review in reviews
         div(id="reviews-container")
            h4=`${review.Game.name}`
               h5=`${review.description}`
