extends layout.pug

append head
   link(rel="stylesheet" href="/stylesheets/profile.css")


block content
   div(id= "profile-container")
      div(id= "profile-info")
         div(id= "greeting")
            h2= `Welcome, ${user.username}`
            div(id= "user-info")
               div(id= "member-since")
                  p= `Member Since: ${user.createdAt.getFullYear()}`
               div(id= "num-reviews-container")
                  a(href= "#reviews-container")= `${reviews.length} Reviews`
         div(id="gameshelves-container")
            div(id="gameshelves-title")
               a(href="/gameshelves")= "Game Shelves"
            div(class="scroll")
               ul(class="menu")
                  each shelf in gameshelves
                     div(class="game")
                        div(class="title")
                           a(href=`/gameshelves/${shelf.id}`)= shelf.title

   div(id="reviews-container")
      h2 Reviews
      each review in reviews
         div(id="review-container")
            div(id= "review-title-container")
               a(href= `/games/${review.Game.id}`)= review.Game.name
               div(id= "review-score")= review.score
            div(id= "review-game-name")= "\"" + review.title + "\"" 
            div(id= "pros-and-cons")
               div(id= "pro-title") Pro:  
                  div(id= "pro-description")= review.Pro.content
               div(id= "con-title") Con:  
                  div(id= "con-description")= review.Con.content
            div(id= "review-description-container")
               div(id= "review-description")= review.description
      div(id="scroll-top")
         a(href= "#top") Top
