extends layout.pug

append head
   link(rel="stylesheet" href="/stylesheets/profile.css")


block content
   div(id="profile-container")
      div(id="profile-info")
         h3= `${user.username}'s Profile`
         p= `Member Since: ${user.createdAt.getFullYear()}`
   div(id="gameshelves-container")
      div(id="genre-title")
         h3
            a(href="/gameshelves")= "Game Shelves"
      div(class="scroll")
         ul(class="menu")
            each shelf in gameshelves
               div(class="game")
                  div(class="title")
                     a(href=`/gameshelves/`)= shelf.title

   div(id="reviews-and-container")
      h2 Reviews
      each review in reviews
         div(id="reviews-container")
            h4=`${review.Game.name}`
               h5=`${review.description}`
