extends layout.pug

block content 
   div(id='review-container')
      form(id='review-form' action='/games/:id/review/edit' method='post')
         input(type="hidden" value= game.id name="gameId")
         div(id='game-review-title-container')
            div(id='game-review-title')= game.name
         div(id='game-review-score-container')
            label(for='game_review_score') Rating:
            input(type='number' value= userReview.score name='game_review_score' min='0' max='100' required)
         div(id='gameshelf-options-container')
            label(for='gameshelf') gameshelves:
            select(id='select-options' name='gameshelf' required)
              option(value= '')= ''
              each shelf in gameshelves
                 option(value=shelf.id)= shelf.title
         div(id='pro-options-container')
            label(for='pro_options') pros:
            select(id='pro-options' value= userReview.pro_id name='pro_options' required)
              option(value= '')= ''
              each pro in pros
                 option(value=pro.id selected=userReview.pro_id)= pro.content
         div(id='con-options-container')
            label(for='con_options') cons:
            select(id='con-options' value= userReview.con_id name='con_options' required)
              option(value= '')= ''
              each con in cons
                 option(value=con.id selected=userReview.pro_id)= con.content
         div(id='review-page-title-container')
            label(for='review_title') title
            input(type='text' value= userReview.title name='review_title')
         div(id='review-input-container')
            label(for='review_description')
            textarea(id='review-text' name='review_description' value= userReview.description placeholder='your review here!')= userReview.description
         button(type='submit' id='submit-review') submit